# Linguagem Utilizada para Desenvolver a Aplicação
language: python

# Versão que a aplicação suporta.
python:
  - "3.7.9"

os: linux
dist: xenial
  
before_install:
- openssl aes-256-cbc -K $encrypted_753c219f8756_key -iv $encrypted_753c219f8756_iv
  -in lab-devops-cloud-andre-bafbaf4d095c.json.enc -out ../lab-devops-cloud-andre-bafbaf4d095c.json
  -d

jobs:
  include:
    - stage: Build

      name: "Testes Unitários"
      # Instalação de Módulos que são necessários para a Aplicação.
      install:
        - pip install flask flask-wtf coverage
      script:  # Defini o script de Teste que deve rodar toda vez que o código for alterado.
        - coverage run test.py || travis_terminate 1;
        - coverage report app.py || travis_terminate 1;
        - coverage xml app.py || travis_terminate 1;

    - stage: STG Deploy
      script: skip
      # Definir o Deploy no Heroku
      deploy:
        provider: heroku
        strategy: api
        api_key: $HEROKU_API_KEY
        edge: true
        app: devopslab-andre
        on:
          branch: main

    - stage: STG TEST
      script:
        - curl https://devopslab-andre.herokuapp.com/ | grep "Laboratório Pipeline DevOps - Andre" || travis_terminate 1;

    - stage: PROD Deploy
      script: skip
      # Definir o Deploy no Google Cloud
      deploy:
        provider: gae
        keyfile: ../lab-devops-cloud-andre-bafbaf4d095c.json
        project: lab-devops-cloud-andre
        on:
          branch: main

    - stage: PROD TEST
      script:
        - curl https://lab-devops-cloud-andre.ue.r.appspot.com/ | grep "Laboratório Pipeline DevOps - Andre" || travis_terminate 1;

